result/
screenshot_test/
logs/
results/
data/custom/images
data/samples
data/custom/labels
data/custom/train.txt
data/custom/valid.txt
weights/
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints
*.swp
